.navbarTop {
    position: absolute;

    width: 100%;
  
    display: flex;
  
    z-index: 99;
  
    font-family: 'MonotypeCorsiva';
  
    color: white!important;
  
    justify-content: space-between;
  }
  
  .navbarTop a {
    margin: auto 10px auto 10px;
  
    text-decoration: none;
  
    font-size: 1.5em;
  
    color: white!important;
  }
  
  .navbarTop li {
    float: left;
  
    list-style: none;
  
    border-right: 0.5px solid white;
  
    /* margin-left: 20px; */
  }
  
  .logo {
    width: 20%;
  
    height: 600px;
  }
  
  .logo img{
      max-height: 30%;
      position: absolute;
  }
  
  .navbarFixa {
      width: 100%;
    
      z-index: 99;
    
      font-family: 'MonotypeCorsiva';
    
      padding:5px;
    
      justify-content: space-between;
  
      background-color:white;
  
      max-height:10vh;
  
      position: fixed; 
  
      top: -100px;
  
      display: flex;
  
      
  
    }
    
    .navbarFixa a {
      margin: auto 10px auto 10px;
    
      text-decoration: none;
    
      font-size: 1.5em;
    
      color: #0a2321!important;
    }
    
    .navbarFixa li {
      float: left;
    
      list-style: none;
    
      border-right: 0.5px solid #0a2321;
    
      /* margin-left: 20px; */
    }
  
    .navbarFixa ul{
        padding-top: 10px;
    }


    .navbarFixa img{
        height:9.5vh;
    }
    
    .logoFixo {
      width: 5%;
    
      height: auto;
    }
  
    /* Comeco Nav Hamburger*/
    
    .topnavBurger {
        overflow: hidden;
        background-color: white;
        position: fixed;
        top:0;
        width: 100%;
        display: none;
        z-index: 10000;
        
    }
    
    .topnavBurger img {
        max-height: 5vh;
    }

    .fa-bars{
        height: 100%;
    }
    
    @media (max-width:900px) {
        .topnavBurger {
            display: block;
        }
        .desktop {
            display: none;
        }

        .textoPrincipal{
           height: 100vh;
           align-items: center;
        }
    }
    /* Escondendo os links*/
    
    .topnavBurger #myLinks {
        display: none;
    }
    /* Estilo */
    
    .topnavBurger a {
        color: #0a2321;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        align-items: center;
        text-align: center;
        font-family: 'MonotypeCorsiva';
    }
    /* Estilizando o burger menu*/
    
    .topnavBurger a.icon {
        background: white;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
       
    }
    
    .topnavBurger a:hover {
        background-color: #0a2321;
        color: white;
    }
    
    .Ativo {
        background-color:white ;
        color: #0a2321;
        padding: 0;
    }

    .burgerBar{
        height:50px;
    }


    /* Final Nav Hamburger*/