* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.container{
    padding: 0;
    border: 0;
   
}

@font-face {
    font-family: 'GlossAndBloom';
    src:  url('../fonts/Gloss_And_Bloom.ttf'); 
}

@font-face {
    font-family: 'MonotypeCorsiva';
    src:  url('../fonts/MTCORSVA.TTF'); 
}

.anchor{
    display: block;
    height: 10vh; /*same height as header*/
    margin-top: -10vh; /*same height as header*/
    visibility: hidden;
}

.whatsIcon{
    position:fixed;
    bottom:10px;
    right:10px;
    width: 90px;
    height: auto;
    z-index:100;
    animation: nudge 2s linear infinite;
    cursor: pointer;

}

.navbarTop {
  width: 100%;

  display: flex;

  z-index: 99;

  font-family: 'MonotypeCorsiva';

  color: white!important;

  justify-content: space-between;
}

.navbarTop a {
  margin: auto 10px auto 10px;

  text-decoration: none;

  font-size: 1.5em;

  color: white!important;
}

.navbarTop li {
  float: left;

  list-style: none;

  border-right: 0.5px solid white;

  /* margin-left: 20px; */
}

.logo {
  width: 20%;

  height: auto;
}

.logo img{
    max-height: 80%;
}

.navbarFixa {
    width: 100%;
  
    display: flex;
  
    z-index: 99;
  
    font-family: 'MonotypeCorsiva';
  
    padding:5px;
  
    justify-content: space-between;

    background-color:white;

    max-height:10vh;

    position: fixed; 

    top: -100px;

    display: flex;

    align-items: center;

  }
  
  .navbarFixa a {
    margin: auto 10px auto 10px;
  
    text-decoration: none;
  
    font-size: 1.5em;
  
    color: #0a2321!important;
  }
  
  .navbarFixa li {
    float: left;
  
    list-style: none;
  
    border-right: 0.5px solid #0a2321;
  
    /* margin-left: 20px; */
  }

  .navbarFixa ul{
      padding-top: 10px;
  }
  
.videira{
    z-index: 999;
    width:50%;
    display: flex;
   
}

.videira img{
    z-index: 999;
    height: 10vh;
    margin: auto;
    opacity: 80%;
}

  .logoFixo {
    width: 5%;
  
    height: auto;
  }


.textoPrincipal{
    color: white;
    text-align: center;
    font-family: 'GlossAndBloom';
    font-size: 4em;
    margin: 0 20vw ;
}



.pageSection{
    height: 90vh; 
    
}

.pageSection:first-of-type{
    background-image: url("../images/Pagina1/ImagemFubdoP1_Prancheta1.svg");

    background-repeat: no-repeat;

    background-size: cover;

    height: 100vh; 
}

.page2{
    display:grid;  
    grid-template-columns: 3fr 6fr;
    grid-gap: 20px; 
    background-image: url("../images/Pagina2/HBR Brokers - Nazaré Paulista - Mirante 01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}


.sideText{
    height:100vh;
    align-items: center;
    background-color: #fdc317;
    border-radius: 0 45% 45% 0;
    font-family: 'MonotypeCorsiva';
    font-size: 2.5em;
    /* padding-right: 1em;
    padding-left: 20px;
    padding-top: 20px; */
    z-index: 2;
    padding: 40px;
    padding-right: 60px;
}

.bordaFlores{
    position: absolute;
    height:90%;
    top:101vh;
    left:170px;
    /* z-index: -1; */

}

@media (max-width:760px){
    .bordaFlores{
        display:none;
    }
}

/* .containerPhotos{
    position:relative;
    overflow:hidden;
    flex-wrap: wrap;
    display:grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 25px; 
    padding: 40px;
    flex-grow: 0;
    flex-shrink: 1;
} */


.containerPhotos{
    padding: 40px;
    height: auto;
    overflow: hidden;
}

.col-lg-4:hover, .col-lg-4:focus {
    transform: translateX(5px) scale(1.1);
    
} 


.col-lg-4{
    max-height:20%;
    padding-bottom: 15px;
}

.miniImg{
   max-width: 100%;  
}

.page4{
    background-image: url("../images/Pagina4/Ativo 18.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLocal{
    padding: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.localTitulo{
    text-align: center;
    font-family: 'GlossAndBloom';
    color: white;
    font-size: 3em;
    font-weight: 400;
    margin-top: 20px;
    padding:20px;
}

.textoLocal{
    color:white;
    font-size:1.5em;
    text-align: center;
}

/* .textoLocal:first-of-type{
    margin-right: 40px;
} */

.buttonRow{
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.mostrarMapa{
    background-color: #fdc317;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding:15px;
}

.page5{
    background-image: url("../images/Pagina5/mapa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page6{
    background-color: #fdc31750 ;
    display:flex;
    justify-items:center;
    flex-flow: row wrap;

    
}

.tituloPage6{
    flex:100%;
    font-family: 'GlossAndBloom';
    text-align:center;
    padding:20px;
}

.formPai{
    display:flex;
    width:100%;
    justify-content:center;
}

.formulario{
    
    margin:20px;
    padding:20px;
    border-radius: 50px;
    background-color:#0a2321;
    color:white;
    display:flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    align-items:center;
    width: 700px;
    justify-self:center;


}

.tituloForm{
    flex:80%;
    text-align:center;
    font-family: 'MonotypeCorsiva';
}

.itemForm{
    flex:80%;
    margin:10px;
    border-radius: 15px;
    min-height:40px;
}

.socialMedia{
    flex:100%;
    display:flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-flow: row wrap;
    text-align:center;
    align-items:center;
    font-size:20px;
    justify-content:center;
}

.imgSocial{
    width:50px;
}

.rodape{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:20px;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: auto;
}

.telefones{
    flex:50;
    font-size: 2.2em;
    font-weight:bold;
    border-right: 1px solid #222;
    padding-right: 20px;
}

.logos{
    display:flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-flow: row wrap;
    flex:50;
    padding-left: 20px;
}

.logos img{
 max-width: 100px;
 height: auto;
 
}

.imgTel{
    
    height: auto;
    width:50px;
}

.fonesRow{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}

.fonesRow span{
    margin-left: 5px;
    text-align: justify;
    min-width: 30%;
}

@keyframes nudge {
    20%,
    100% {
      transform: translate(0, 0);
    }
    0% {
      transform: translate(0, 50px);
      transform: rotate(50deg);
    }
    10% {
      transform: translate(0, -50px);
      transform: rotate(-50deg);
    }
  }

  ::-webkit-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   }
   :-moz-placeholder { /* older Firefox*/
    font-size:14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   }
   ::-moz-placeholder { /* Firefox 19+ */ 
    font-size: 14px;
    color: #d0cdfa; 
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   } 
   :-ms-input-placeholder { 
    font-size: 14px; 
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
   }