html {
  scroll-behavior: smooth;
}

body {
  display:flex;

  padding: 0;

  border: 0;
 
}

.container{
    padding: 0;

    border: 0;
   
}

* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'GlossAndBloom';
    src:  url('../fonts/Gloss_And_Bloom.ttf'); 
}

@font-face {
    font-family: 'MonotypeCorsiva';
    src:  url('../fonts/MTCORSVA.TTF'); 
}

nav {
  width: 100%;

  display: flex;

  z-index: 99;

  font-family: 'MonotypeCorsiva';

  color: white;

  justify-content: space-between;
}

nav a {
  margin: auto 10px auto 10px;

  text-decoration: none;

  font-size: 1.5em;
}

nav li {
  float: left;

  list-style: none;

  border-right: 0.5px solid white;

  /* margin-left: 20px; */
}

.logo {
  width: 20%;

  height: auto;
}


.textoPrincipal{
    color: white;
    text-align: center;
    font-family: 'GlossAndBloom';
    font-size: 4em;
    margin: 0 20vw ;
}



.pageSection{
    height: 100vh; 
    
}

.pageSection:first-of-type{
    background-image: url("../images/Pagina1/ImagemFubdoP1_Prancheta1.svg");

    background-repeat: no-repeat;

    background-size: cover;
}

.page2{
    display:grid;  
    grid-template-columns: 2fr 4fr;
    grid-gap: 20px; 
    background-image: url("../images/Pagina2/HBR Brokers - Nazaré Paulista - Mirante 01.jpg");
    background-repeat: no-repeat;

    background-size: cover;
}


.sideText{
    align-items: center;
    background-color: #fdc317;
    border-radius: 0 50% 50% 0;
    font-family: 'MonotypeCorsiva';
    font-size: 2.7em;
    padding-right: 1em;
    padding-top: 10px;
    z-index: 2;
    padding: 40px;
}

.bordaFlores{
    position: absolute;
    height:100%;
    top:101vh;
    left:170px;
    /* z-index: -1; */

}

.containerPhotos{
    position:relative;
    overflow:hidden;
    flex-wrap: wrap;
    display:grid;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 25px; 
    padding: 40px;
}

.miniImg{
   max-width: 100%;  
}

.page4{
    background-image: url("../images/Pagina4/Ativo 18.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLocal{
    padding: 40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}

.localTitulo{
    text-align: center;
    font-family: 'GlossAndBloom';
    color: white;
    font-size: 3em;
    font-weight: 400;
    margin-top: 20px;
}

.textoLocal{
    color:white;
    font-size:1.5em;
    text-align: center;
}

/* .textoLocal:first-of-type{
    margin-right: 40px;
} */

.buttonRow{
    display:flex;
    align-items: center;
    justify-content: center;
}

.mostrarMapa{
    background-color: #fdc317;
    border-radius: 15%;
    height:20px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.page5{
    background-image: url("../images/Pagina5/mapa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.page6{
    background-color: #fdc317;
}